.NaM{
    color: white;
    padding: 5px;
}
.sec-1{
    padding-top: 50px;
}
.inputfield{
    height: 50px;
}
.sec-2{
    padding-top: 100px;
}
.card{
    margin-bottom: 20px;
}
.blog-body{
    padding-top: 100px;
}
.cc{
    margin: 5px;
}